<div class="post-view">
  <header>
    <h1>
      <a href="<%= @discussion.url %>"><%= @discussion.name %></a>: 
      <%= @post.name %>  
      <span class="tags">
        <% @post.tags.each do |tag| %>
          <a href="<%= tag.url %>"><span class="hash">#</span><%= tag.name %></a>
        <% end %>
      </span>
    </h1>
  </header>
  <div class="meta">
    <img class="avatar" src="<%= @post.creator.avatar_url %>"/>
    <a href="<%= @post.creator.url %>" class="username"><%= @post.creator.username %></a><br/>
    <span class="rank"><%= @post.creator.rank %></span><br/>
    
    <time><%= @post.created_at.to_short %></time>
    
    <% if current_user.access_level > 1 || current_user == @post.creator %>
      <a href="<%= @post.url %>/edit" class="edit">edit</a>
      <a href="<%= @post.url %>/delete" class="delete">delete</a>
    <% end %>
  </div>
  <div class="content"><%= @post.content %></div>
  
  <ul class="comment-list">
  <% @post.comments.each do |comment| %>
    <li>
      <div class="meta">
        <img class="avatar" src="<%= comment.creator.avatar_url %>">
        <a href="<%= comment.creator.url %>" class="username"><%= comment.creator.username %></a><br/>
        <span class="rank"><%= comment.creator.rank %></span><br/>
        
        <time><%= comment.created_at.to_short %></time>
        
        <% if current_user.access_level > 1 || current_user == comment.creator %>
          <a href="<%= comment.url %>/edit" class="edit">edit</a>
          <a href="<%= comment.url %>/delete" class="delete">delete</a>
        <% end %>
      </div>
      <div class="content"><%= comment.content %></div>
    </li>
  <% end %>
  </ul>
  
  <% unless current_user.guest? %>
  <div class="form">
    <div class="meta">
      <img class="avatar" src="<%= current_user.avatar_url %>"/>
      <a href="<%= current_user.url %>" class="username"><%= current_user.username %></a><br/>
      <span class="rank"><%= current_user.rank %></span><br/>
      
      <time><%= DateTime.now.to_short %></time>
    </div>
    
    <div class="content">
      <form action="<%= @post.url %>/create" class="new-comment ajax">
        <textarea type="text" id="content" name="comment[content]"></textarea>
        <input class="right" type="submit" value="Create comment">
      </form>
    </div>
  </div>
  <% end %>
  
</div>
