<div class="member-view">
  <header>
    <a href="<%= @member.avatar_url %>"><img class="avatar" src="<%= @member.avatar_url %>"/></a>
    <h1><%= @member.username %></h1>
    <span class="rank"><%= @member.rank %> <% if @member.banned? %>(banned)<% end %></span>
    
    <% if current_user.access_level > 1 || current_user == @member %>
      <a href="<%= @member.url %>/edit" class="edit">edit</a>
      <a href="<%= @member.url %>/delete" class="delete">delete</a>
    <% end %>
  </header>
  <ul>
    <li><span class="label">Name</span> <span><%= @member.fname %> <%= @member.sname %></span></li>
    <li><span class="label">Email</span> <span><%= @member.email %></span></li>
    <li><span class="label">Age</span> <span><%= @member.age %></span></li>
    
    <li><span class="label">Username</span> <span><%= @member.username %></span></li>
    
    <li><span class="label">Join Date</span> <span><%= @member.join_date.strftime("%B %d, %Y at %H:%M:%S") %></span></li>
    <li><span class="label">Access Level</span> <span><%= @member.access_level %></span></li>
  </ul>
  <div class="bio"><span class="label">Bio</span><%= @member.biography %></div> 
</div>

<% if @member.activity.size > 0 %>
<div class="activity-view">
  <header>
    <h1>Recent Activity</h1>
  </header>
  <ul class="activity-list">
  <% @member.activity[0..4].each do |item| %>
    <% if item[:type] == :post %>
      <li>
        <header>
          <h1><a href="<% @member.url %>"><%= @member.username %></a> created a post <a href="<%= item[:url] %>"><%= item[:title] %></a> <time><%= item[:date].to_pretty %></time></h1>
        </header>
      </li>
    <% elsif item[:type] == :comment %>
      <li>
        <header>
          <h1><a href="<% @member.url %>"><%= @member.username %></a> added a comment to <a href="<%= item[:url] %>"><%= item[:title] %></a> <time><%= item[:date].to_pretty %></time></h1>
        </header>
      </li>
    <% end %>
  <% end %>
  <% if @member.activity.size > 4 %>
    <a href="<%= @member.url %>/activity" class="show-all">Show All</a>
  <% end %>
  </ul>
</div>
<% end %>